09_node_red_temp_humi/temp_humi_node-red.txt
[{"id":"3f2558d6.4994a8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"eb448f54.1b868","type":"serial in","z":"3f2558d6.4994a8","name":"","serial":"6f41c78d.763b68","x":137.5173568725586,"y":193.7500286102295,"wires":[["d0dcb074.c3836","94cecf83.d9b55"]]},{"id":"d0dcb074.c3836","type":"function","z":"3f2558d6.4994a8","name":"Temp","func":"\nvar temp1= msg.payload[6]-48;\nvar temp2= msg.payload[7]-48;\nvar temp3= msg.payload[9]-48;\nvar temp4= msg.payload[10]-48;\n\nvar result = (temp1*1000)+ (temp2*100) + (temp3*10) + temp4; \nresult = result/100;\n\nvar result1 = {payload:result};\n\nreturn[result1];","outputs":1,"noerr":0,"x":307.07645416259766,"y":92.56599521636963,"wires":[["85a5177c.f4c628","bdd189ae.b2dbe8"]]},{"id":"85a5177c.f4c628","type":"debug","z":"3f2558d6.4994a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":581.3498992919922,"y":37.79081916809082,"wires":[]},{"id":"94cecf83.d9b55","type":"function","z":"3f2558d6.4994a8","name":"Humidity","func":"//arduin return is array(hum,temp) 33.00,44.00 \nvar hum1= msg.payload[0]-48;\nvar hum2= msg.payload[1]-48;\nvar hum3= msg.payload[3]-48;\nvar hum4= msg.payload[4]-48;\n\nvar result = (hum1*1000)+ (hum2*100) + (hum3*10) + hum4; \nresult = result/100;\n\nvar result1 = {payload:result};\n\nreturn[result1];","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["fe2725de.9bc438","14d936af.4a9cd9"]]},{"id":"fe2725de.9bc438","type":"debug","z":"3f2558d6.4994a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":582.6041069030762,"y":361.12417221069336,"wires":[]},{"id":"bdd189ae.b2dbe8","type":"ui_gauge","z":"3f2558d6.4994a8","name":"Temp","group":"a9b2306a.63e71","order":2,"width":0,"height":0,"gtype":"gage","title":"temp","label":" ¡ÆC","format":"{{value}} ¡ÆC","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570.0998001098633,"y":99.71789360046387,"wires":[]},{"id":"14d936af.4a9cd9","type":"ui_gauge","z":"3f2558d6.4994a8","name":"Humidity","group":"a9b2306a.63e71","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":583.8411865234375,"y":288.4635429382324,"wires":[]},{"id":"6f41c78d.763b68","type":"serial-port","z":"","serialport":"COM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"0","bin":"bin","out":"time","addchar":"false","responsetimeout":""},{"id":"a9b2306a.63e71","type":"ui_group","z":"","name":"DHT11","tab":"1d27a5d.0a6195a","disp":true,"width":"6","collapse":false},{"id":"1d27a5d.0a6195a","type":"ui_tab","z":"","name":"Station","icon":"dashboard","order":1,"disabled":false,"hidden":false}]