08_node_red_gas/02_gas_node_red.txt
[{"id":"559e0fe5.de1bf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"48d816a5.f12b08","type":"serial in","z":"559e0fe5.de1bf","name":"arduino","serial":"6d81e4d3.2cf4cc","x":170,"y":360,"wires":[["4bc35820.4ffba8"]]},{"id":"b520a22.55b906","type":"debug","z":"559e0fe5.de1bf","name":"","active":true,"console":"false","complete":"false","x":750,"y":720,"wires":[]},{"id":"f2229d8e.2d28f","type":"ui_text","z":"559e0fe5.de1bf","group":"497f8eec.fee61","order":0,"width":0,"height":0,"name":"CO in PPM","label":"Arduino Reading","format":"{{msg.payload}}","layout":"col-center","x":710,"y":480,"wires":[]},{"id":"ef2a13c2.c749c","type":"ui_gauge","z":"559e0fe5.de1bf","name":"gas gauge","group":"497f8eec.fee61","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"350","seg2":"700","x":750,"y":640,"wires":[]},{"id":"35dfc493.ec033c","type":"ui_chart","z":"559e0fe5.de1bf","name":"","group":"497f8eec.fee61","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":560,"wires":[[]]},{"id":"4bc35820.4ffba8","type":"function","z":"559e0fe5.de1bf","name":"gas","func":"//why 10? because return string format is CO value : 123 \nvar gas1 = msg.payload[0]-48;\nvar gas2 = msg.payload[1]-48;\n//var gas3 = msg.payload[12]-48;\n\n//var result = (gas1*100)+(gas2*10)+(gas3);\n\nvar result = (gas1*10)+(gas2*1);\n\nvar result1 = {payload:result};\n\nreturn [result1];","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["f2229d8e.2d28f","35dfc493.ec033c","ef2a13c2.c749c","b520a22.55b906"]]},{"id":"6d81e4d3.2cf4cc","type":"serial-port","z":"559e0fe5.de1bf","serialport":"COM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":""},{"id":"497f8eec.fee61","type":"ui_group","z":"559e0fe5.de1bf","name":"CarbonMonoxide in Atmosphere","tab":"533a94f0.369edc","disp":true,"width":"9"},{"id":"533a94f0.369edc","type":"ui_tab","z":"559e0fe5.de1bf","name":"Home","icon":"dashboard"}]